.mainBox {
    width: 700px;
    height: 400px;
    background-color: whitesmoke;
    margin: 10px;
    margin-bottom: 100px;
    border-radius: 10px 10px 10px 10px;
    color:rgb(41, 40, 40);
    box-shadow: 1px 2px 9px #0000001f;
  }

  .image {
    width: 400px;
    height: 400px;
    float: left;
    border-radius: 0px 15px 15px 100px;
  }

  .description-area {
    padding-left: 10px;
    display: flex;
    flex-direction: column
  }